<header>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a href="#" class="navbar-brand g01v1-logo"><img title="logo"
					alt="logo"
					src="/content/dam/wbrredesign/logos/logo-wb-header-en.svg"
					class="img-responsive"> </a>
			</div>
			<!-- End Logo Section -->
			<div class="toggle-box">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<!-- End menu dropdown Section -->
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<!-- begin Global search mobile view -->
					<li class="mega-menu visible-sm visible-xs"
						id="mega-menu-global-search">
						<!-- Begin Input Search -->
						<div class="header-search-section">
							<form class="input-group" role="search" name="searchbox"
								action="/en/news/all" onsubmit="javascript:searchSubmit();"
								method="get">
								<input type="text" placeholder="Global search..."
									class="search-input-field-1" name="qterm" title="search">
								<input class="search-submit-icon" type="image"
									src="/content/dam/wbrredesign/icons/search-orange.svg"
									alt="listingsearch">
							</form>
						</div> <!-- End Input Search -->
					</li>
					<!-- begin Global search mobile view -->
					<!-- begin Who We Are -->
					<li class="mega-menu" id="who-we-are"><a href="#"
						class="dropdown-toggle" aria-expanded="true">Who we are</a>
						<div class="mega-menu-blurb hidden-lg hidden-md ">Leadership,
							organization, and history</div>
						<ul class="dropdown-menu mega-menu-dropdown">
							<span class="close-this-megamenu">X</span>
							<li class="container">
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-12 hidden-sm">
										<div class="mega-menu-left-column">
											<div class="mega-menu-img">
												<img class="img-responsive"
													src="../img/megamenu-image-1.jpg" alt="image">
											</div>
											<div class="mega-menu-blurb">The World Bank is a unique
												global partnership that finances development and aid
												projects to end poverty and promote prosperity. We cultivate
												leading experts who share insight, research and data with
												the development community.</div>
										</div>
									</div>
									<!--end left column-->
									<div class="col-lg-8 col-md-8 col-sm-12">
										<div class="mega-menu-right-column row">
											<div class="col-lg-4 col-md-4 col-sm-4">
												<h4>About the World Bank</h4>
												<ul class="mega-menu-sublist">
													<li><a
														href="http://www.worldbank.org/en/about/what-we-do">Overview</a></li>
													<li><a
														href="http://www.worldbank.org/en/about/leadership/">Organization</a></li>
													<li><a
														href="http://www.worldbank.org/en/about/partners">Partners</a></li>
													<li><a
														href="http://www.worldbank.org/en/about/history">History
															of the World Bank</a></li>
													<li><a
														href="https://openknowledge.worldbank.org/handle/10986/16093">World
															bank Group Strategy</a></li>
													<li><a href="http://www.worldbank.org/mdgs/">Sustainable
															Development Goals</a></li>
												</ul>
											</div>
											<!-- End About the World Bnak -->
											<div class="col-lg-4 col-md-4 col-sm-4">
												<h4>Accountability</h4>
												<ul class="mega-menu-sublist">
													<li><a
														href="http://www.worldbank.org/en/about/annual-report">Annual
															Reports</a></li>
													<li><a
														href="http://www.worldbank.org/en/about/what-we-do/annual-meetings">Annual
															Meetings</a></li>
													<li><a
														href="http://www.worldbank.org/en/access-to-information">Access
															To Information</a></li>
													<li><a
														href="http://www.worldbank.org/en/about/results/corporatescorecard">Corporate
															Scorecard</a></li>
													<li><a
														href="http://pdu.worldbank.org/sites/pdu3/en/Pages/PDUIIIHome.aspx">President's
															Delivery Unit</a></li>
													<li><a href="#">Accountability</a></li>
												</ul>
											</div>
											<!-- End ACCOUNTABILITY -->
											<div class="col-lg-4 col-md-4 col-sm-4">
												<h4>Experts And Leaders</h4>
												<ul class="mega-menu-sublist">
													<li><a href="#">Experts</a></li>
													<li><a
														href="http://www.worldbank.org/en/about/president">Office
															of the President</a></li>
													<li><a
														href="http://www.worldbank.org/en/about/leadership/governors">Boards
															of Governors</a></li>
													<li><a
														href="http://www.worldbank.org/en/about/leadership/directors">Boards
															of Directors</a></li>
													<li><a
														href="http://www.worldbank.org/en/about/leadership/managers">Leadership</a></li>
												</ul>
											</div>
											<!-- End EXPERTS AND LEADERS -->


											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<hr>
												<ul class="mega-menu-left-column-wrapper">
													<li><a href="#"><span class="menu-highlight-item">News&nbsp;<i
																class="icon-angle-right"> <span class="sr-only">Arrow</span></i></span></a></li>
												</ul>
											</div>

										</div>
									</div>
									<!--end Right column-->
								</div> <!--end of .row-->

							</li>
						</ul></li>
					<!-- end Who We Are -->
					<!-- begin What We Do -->
					<li class="mega-menu" id="what-we-do"><a href="#"
						class="dropdown-toggle" aria-expanded="true">What We Do</a>
						<div class="mega-menu-blurb hidden-lg hidden-md">Product,projects,research
							and services</div>
						<ul class="dropdown-menu mega-menu-dropdown">
							<span class="close-this-megamenu">X</span>
							<li class="container">
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-12 hidden-sm">
										<div class="mega-menu-left-column">
											<div class="mega-menu-img">
												<img class="img-responsive"
													src="../img/megamenu-image-2.jpg" alt="image">
											</div>
											<div class="mega-menu-blurb">The World Bank is a vital
												source of financial and technical assistance. We fund
												thousands of develoment projects, offer aid during
												emergencies, and invest in private sector. We cultivate
												leading experts who share insight, research, and data with
												the development community.</div>
										</div>
									</div>
									<!--end of .column-->
									<div class="col-lg-8 col-md-8 col-sm-12">
										<div class="mega-menu-right-column row">
											<div class="col-lg-7 col-md-7 col-sm-7">
												<div class="row">
													<div class="col-lg-7 col-md-7">
														<h4>Development Projects</h4>
														<ul>
															<li><a href="http://www.worldbank.org/projects"><span
																	class="menu-highlight-item">Projects</span></a></li>
															<ul class="mega-menu-sublist">
																<li><a
																	href="http://www.worldbank.org/projects/country?lang=en&page=">By
																		Country</a></li>
																<li><a
																	href="http://www.worldbank.org/projects/sector?lang=en&page=">By
																		Sector</a></li>
																<li><a
																	href="http://www.worldbank.org/projects/theme?lang=en&page=">By
																		Theme</a></li>
															</ul>
															<li class="mrg-t-15"><a href="#"><span
																	class="menu-highlight-item">Country Partnership
																		Framework</span></a></li>
															<ul class="mega-menu-sublist">
																<li><a
																	href="http://www.worldbank.org/en/projects-operations/environmental-and-social-policies">Environmental
																		and Social Policies for Projects</a></li>
																<li><a
																	href="http://www.worldbank.org/en/projects-operations/products-and-services/procurement-projects-programs">Procurement
																		for Projects and Programs</a></li>

															</ul>
															<li style="margin-top: 10px;"><a
																href="http://www.worldbank.org/en/results"><span
																	class="menu-highlight-item">Results</span></a></li>
														</ul>
													</div>
													<div class="col-lg-5 col-md-5">
														<h4>Priorities</h4>
														<ul>

															<ul class="mega-menu-sublist">
																<li><a href="#">Human Capital Project</a></li>
																<li><a href="#">Maximizing Finance for
																		Development</a></li>
															</ul>

														</ul>
													</div>
												</div>
											</div>
											<!-- End Development Project -->
											<div class="col-lg-5 col-md-5">
												<div class="row">

													<div class="col-lg-6 col-md-6">
														<h4>Knowledge</h4>
														<ul class="mega-menu-sublist">
															<li><a href="http://www.worldbank.org/en/research">Open
																	Research</a></li>
															<li><a href="http://data.worldbank.org/">Open
																	Data</a></li>
															<li><a href="https://olc.worldbank.org/">Open
																	Learning</a></li>
															<li><a href="http://www.worldbank.org/en/topic">Development
																	Topics</a></li>
															<li><a
																href="http://www.worldbank.org/en/access-to-information">Access
																	to Information</a></li>
														</ul>
													</div>
													<div class="col-lg-6 col-md-6">
														<h4>Products & Services</h4>
														<ul class="mega-menu-sublist">
															<li><a
																href="http://www.worldbank.org/en/projects-operations/products-and-services#2">Financing
																	Products</a></li>
															<li><a
																href="http://www.worldbank.org/en/projects-operations/products-and-services#3">Advisory
																	Services & Analytics</a></li>

														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!--end of Right.column-->
								</div> <!--end of .row-->

							</li>
						</ul></li>
					<!-- end What We Do -->
					<!-- begin Where We Work -->
					<li class="mega-menu" id="where-we-work"><a href="#"
						class="dropdown-toggle" aria-expanded="true">Where We Work</a>
						<div class="mega-menu-blurb hidden-lg hidden-md ">Countries
							and regions</div>
						<ul class="dropdown-menu mega-menu-dropdown">
							<span class="close-this-megamenu">X</span>
							<li class="container">
								<div class="row">
									<div class="col-lg-5 col-md-5 col-sm-12">
										<div class="mega-menu-left-column mega-menu-search-padd">
											<h4>Countries</h4>
											<ul class="mega-menu-left-column-wrapper">
												<!-- Begin Input Search -->
												<div class="header-search-section">
													<form
														data-csearch="https://author-wb-stage62.adobecqms.net/content/country/country-landing/en.html"
														id="csearch" class="input-group" role="search"
														name="searchbox" onsubmit="javascript:WriteCookie();"
														method="get">
														<input type="text" autocomplete="off"
															onfocus="clearField(this)" placeholder="Country Name..."
															class="search-input-field-1 search_form_where_we_work"
															id="search11" name="usrname" title="search">
														<!--<input class="search-submit-icon" type="image" src="/etc/designs/wbrrdesign/clientlibs-wbrredsign/img/search-orange.svg" alt="listingsearch">-->
														<i
															class="dropdown-toggle fa fa-angle-down arrow-down search-submit-icon"></i>
													</form>
													<ul class="tt-menu">
														<li class="tt-suggestion" data-original-index="0"><span
															class="text"><a class="firstLevel country-search"
																href="http://www.worldbank.org/en/country/afghanistan">Afghanistan</a></span></li>
														<li class="tt-suggestion" data-original-index="1"><span
															class="text"><a class="firstLevel country-search"
																href="http://www.worldbank.org/en/country/albania">Albania</a><span>
																	| </span><a class="country-search"
																href="http://www.worldbank.org/sq/country/albania">shqip</a></span>
														</li>
														<li class="tt-suggestion" data-original-index="2"><span
															class="text"><a class="firstLevel country-search"
																href="http://www.worldbank.org/en/country/algeria">Algeria</a><span>
																	| </span><a class="country-search"
																href="http://www.banquemondiale.org/fr/country/algeria">Français</a><span>
																	| </span><a class="country-search"
																href="http://www.albankaldawli.org/ar/country/algeria/ar">عربي</a></span>
														</li>
														<li class="tt-suggestion" data-original-index="3"><span
															class="text"><a class="firstLevel country-search"
																href="http://www.worldbank.org/en/country/angola">Angola</a><span>
																	| </span><a class="country-search"
																href="http://www.worldbank.org/pt/country/angola">Português</a></span>
														</li>
														<li class="tt-suggestion" data-original-index="4"><span
															class="text"><a class="firstLevel country-search"
																href="http://www.worldbank.org/en/country/oecs">Antigua
																	and Barbuda</a></span></li>
														<li class="tt-suggestion" data-original-index="5"><span
															class="text"><a class="firstLevel country-search"
																href="http://www.worldbank.org/en/country/argentina">Argentina</a><span>
																	| </span><a class="country-search"
																href="http://www.bancomundial.org/es/country/argentina">Español</a></span>
														</li>
														<li class="tt-suggestion" data-original-index="6"><span
															class="text"><a class="firstLevel country-search"
																href="http://www.worldbank.org/en/country/armenia">Armenia</a></span></li>
														<li class="tt-suggestion" data-original-index="7"><span
															class="text"><a class="firstLevel country-search"
																href="http://www.worldbank.org/en/country/austria">Austria</a></span></li>
														<li class="tt-suggestion" data-original-index="8"><span
															class="text"><a class="firstLevel country-search"
																href="http://www.worldbank.org/en/country/azerbaijan">Azerbaijan</a></span></li>
														<li class="tt-suggestion" data-original-index="9"><span
															class="text"><a class="firstLevel country-search"
																href="http://www.worldbank.org/en/region/mena/brief/gcc">Bahrain</a></span></li>
														<li class="tt-suggestion" data-original-index="10"><span
															class="text"><a class="firstLevel country-search"
																href="http://www.worldbank.org/en/country/bangladesh">Bangladesh</a></span></li>
														<li class="tt-suggestion" data-original-index="11"><span
															class="text"><a class="firstLevel country-search"
																href="http://www.worldbank.org/en/country/belarus">Belarus</a><span>
																	| </span><a class="country-search"
																href="http://www.worldbank.org/ru/country/belarus">Русский</a></span>
														</li>
														<li class="tt-suggestion" data-original-index="12"><span
															class="text"><a class="firstLevel country-search"
																href="http://www.worldbank.org/en/country/belgium">Belgium</a><span>
																	| </span><a class="country-search"
																href="http://www.banquemondiale.org/fr/country/belgium">Français</a></span>
														</li>
														<li class="tt-suggestion" data-original-index="13"><span
															class="text"><a class="firstLevel country-search"
																href="http://www.worldbank.org/en/country/belize">Belize</a></span></li>
														<li class="tt-suggestion" data-original-index="14"><span
															class="text"><a class="firstLevel country-search"
																href="http://www.worldbank.org/en/country/benin">Benin</a><span>
																	| </span><a class="country-search"
																href="http://www.banquemondiale.org/fr/country/benin">Français</a></span>
														</li>
														<li class="tt-suggestion" data-original-index="15"><span
															class="text"><a class="firstLevel country-search"
																href="http://www.worldbank.org/en/country/bhutan">Bhutan</a></span></li>
														<li class="tt-suggestion" data-original-index="16"><span
															class="text"><a class="firstLevel country-search"
																href="http://www.worldbank.org/en/country/bolivia">Bolivia</a><span>
																	| </span><a class="country-search"
																href="http://www.bancomundial.org/es/country/bolivia">Español</a></span>
														</li>
														<li class="tt-suggestion" data-original-index="17"><span
															class="text"><a class="firstLevel country-search"
																href="http://www.worldbank.org/en/country/bosniaandherzegovina">Bosnia
																	and Herzegovina</a></span></li>
														<li class="tt-suggestion" data-original-index="18"><span
															class="text"><a class="firstLevel country-search"
																href="http://www.worldbank.org/en/country/botswana">Botswana</a></span></li>
														<li class="tt-suggestion" data-original-index="19"><span
															class="text"><a class="firstLevel country-search"
																href="http://www.worldbank.org/en/country/brazil">Brazil</a><span>
																	| </span><a class="country-search"
																href="http://www.worldbank.org/pt/country/brazil">Português</a></span>
														</li>
														<li class="tt-suggestion" data-original-index="20"><span
															class="text"><a class="firstLevel country-search"
																href="http://www.worldbank.org/en/country/bulgaria">Bulgaria</a><span>
																	| </span><a class="country-search"
																href="http://www.worldbank.org/bg/country/bulgaria">Български</a></span>
														</li>
														<li class="tt-suggestion" data-original-index="21"><span
															class="text"><a class="firstLevel country-search"
																href="http://www.worldbank.org/en/country/burkinafaso">Burkina
																	Faso</a><span> | </span><a class="country-search"
																href="http://www.banquemondiale.org/fr/country/burkinafaso">Français</a></span>
														</li>

													</ul>
												</div>
												<!-- End Input Search -->
												<!-- <li><a href="#"><span class="menu-highlight-item">Countries List<i class="icon-angle-right"> <span class="sr-only">Arrow</span></i></span></a></li> -->
											</ul>
											<ul class="mega-menu-left-column-wrapper">
												<h4>Recent Searches</h4>
												<div>
													<ul class="no-mega-menu-sublist"></ul>
												</div>
											</ul>
										</div>
									</div>
									<!-- End Country Search -->
									<div class="col-lg-7 col-md-7 col-sm-12">
										<div class="mega-menu-right-column row">
											<div class="col-lg-6 col-md-6 col-sm-6">
												<h4>Regions</h4>
												<ul class="mega-menu-sublist">
													<li><a href="http://www.worldbank.org/en/region/afr">Africa</a></li>
													<li><a href="http://www.worldbank.org/en/region/eap">East
															Asia and Pacific</a></li>
													<li><a href="http://www.worldbank.org/en/region/eca">Europe
															and Central Asia</a></li>
													<li><a href="http://www.worldbank.org/en/region/lac">Latin
															America and Caribbean</a></li>
													<li><a href="http://www.worldbank.org/en/region/mena">Middle
															East and North Africa</a></li>
													<li><a href="http://www.worldbank.org/en/region/sar">South
															Asia</a></li>
												</ul>
											</div>
											<!-- End Regions column -->
											<div class="col-lg-6 col-md-6 col-sm-6">
												<h4>Country Groups</h4>
												<ul class="mega-menu-sublist">
													<li><a href="http://www.worldbank.org/en/country/eu">European
															Union</a></li>
													<li><a href="http://www.worldbank.org/en/country/mic">Middle
															Income Countries</a></li>
													<li><a href="http://www.worldbank.org/en/country/oecs">Organization
															of Eastern Caribbean States</a></li>
													<li><a
														href="http://www.worldbank.org/en/country/pacificislands">Pacific
															Islands</a></li>
													<li><a
														href="http://www.worldbank.org/en/country/smallstates">Small
															States</a></li>
													<li><a href="http://www.worldbank.org/en/country/gcc">Gulf
															Cooperation Council</a></li>
													<li><a
														href="http://www.worldbank.org/en/country/westerneurope">Western
															Europe</a></li>
												</ul>
											</div>
											<!-- End Country Groups column -->
										</div>
									</div>
									<!-- End Country List -->
								</div> <!--end of .row-->

							</li>
						</ul></li>
					<!-- end Where We Work -->
					<!-- begin Understanding Poverty -->
					<li class="mega-menu" id="understanding-poverty"><a href="#"
						class="dropdown-toggle" aria-expanded="true">Understanding
							Poverty</a>
						<div class="mega-menu-blurb hidden-lg hidden-md">
							More than <strong>one billion people</strong> worldwide still
							live in extreme poverty, a state of affairs that is morally
							unacceptable given the resources and technology we have available
							today.
						</div>

						<ul class="dropdown-menu mega-menu-dropdown">
							<span class="close-this-megamenu">X</span>
							<li class="container">
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-12 hidden-sm">

										<div class="mega-menu-left-column">
											<div class="mega-menu-img">
												<img class="img-responsive" src="../img/megamenu-image.jpg"
													alt="image">
											</div>
											<div class="mega-menu-blurb">
												More than <strong>one billion people</strong> worldwide
												still live in extreme poverty, a state of affairs that is
												morally unacceptable given the resources and technology we
												have available today. At the same time, rising inequality
												and social exclusion seems to accompany rising prosperity in
												many countries.
											</div>
										</div>
									</div>
									<!--end of .column-->
									<div class="col-lg-8 col-md-8 col-sm-12">
										<div class="mega-menu-right-column row">
											<div class="col-lg-5 col-md-5 col-sm-5">
												<h4>Data & Research</h4>
												<ul>
													<li><a href="http://data.worldbank.org/"><span
															class="menu-highlight-item">Open Data</span></a></li>
													<li>
														<div>
															<ul class="mega-menu-sublist">
																<li><a href="http://data.worldbank.org/country">By
																		Country</a></li>
																<li><a href="http://data.worldbank.org/indicator">By
																		Indicator</a></li>
															</ul>
														</div>
													</li>
													<li class="mrg-t-15"><a
														href="http://beta.wb-stage62.adobecqms.net/en/understanding-poverty/review/research"><span
															class="menu-highlight-item">Research and
																Publications</span></a></li>

												</ul>
											</div>
											<!--end of Data And Research column-->
											<div class="col-lg-7 col-md-7 col-sm-7">
												<h4>Development Topics</h4>
												<div class="row">
													<div class="col-lg-6 col-md-6 col-sm-6">
														<ul class="mega-menu-sublist">
															<li><a
																href="http://www.worldbank.org/en/topic/climatechange">Climate
																	Change</a></li>
															<li><a
																href="http://www.worldbank.org/en/topic/education">Education</a></li>
															<li><a
																href="http://www.worldbank.org/en/topic/energy">Energy</a></li>
															<li><a
																href="http://www.worldbank.org/en/topic/fragilityconflictviolence">Fragility,
																	Conflict, and Violence</a></li>
														</ul>
													</div>
													<div class="col-lg-6 col-md-6 col-sm-6">
														<ul>
															<div>
																<ul class="mega-menu-sublist">
																	<li><a
																		href="http://www.worldbank.org/en/topic/poverty">Poverty</a></li>
																	<li><a
																		href="http://www.worldbank.org/en/topic/sustainabledevelopment">Sustainable
																			Development</a></li>
																	<li><a
																		href="http://www.worldbank.org/en/topic/trade">Trade</a></li>
																	<li><a
																		href="http://www.worldbank.org/en/topic/water">Water</a></li>
																</ul>
															</div>
															<li class="mrg-t-15"><a
																href="http://www.worldbank.org/en/topic"><span
																	class="menu-highlight-item">All Development
																		Topics <i class="icon-angle-right"> <span
																			class="sr-only">Arrow</span></i>
																</span></a></li>
														</ul>
													</div>
												</div>
											</div>
											<!--end of Development Priorities .column-->
											<div class="col-lg-12 col-md-12 col-sm-12">
												<hr>
												<!-- Begin Input Search -->
												<div class="header-search-section">
													<form class="input-group" role="search" name="searchbox"
														action="/en/news/all"
														onsubmit="javascript:searchSubmit();" method="get">
														<input type="text"
															placeholder="Search data e.g. GDP, Population, Indonesia..."
															class="search-input-field-1" name="qterm" title="search">
														<input class="search-submit-icon" type="image"
															src="/content/dam/wbrredesign/icons/search-orange.svg"
															alt="listingsearch">
													</form>
												</div>
												<!-- End Input Search -->
											</div>
										</div>
									</div>
									<!--end of Right.column-->
								</div> <!--end of .row-->
							</li>

						</ul></li>
					<!-- end Understanding Poverty -->
					<!-- begin Work With us -->
					<li class="mega-menu" id="work-with-us"><a href="#"
						class="dropdown-toggle" aria-expanded="true">Work With us</a>
						<div class="mega-menu-blurb hidden-lg hidden-md ">Jobs,
							events, procurement, training, and more</div>
						<ul class="dropdown-menu mega-menu-dropdown">
							<span class="close-this-megamenu">X</span>
							<li class="container">
								<div class="mega-menu-right-column row">
									<div class="col-md-15 col-sm-3">
										<h4>For Job Seekers</h4>
										<ul class="mega-menu-sublist">
											<li><a
												href="http://web.worldbank.org/WBSITE/EXTERNAL/EXTJOBSNEW/0,,pagePK:8454306~theSitePK:8453353,00.html">Jobs</a></li>
											<li><a
												href="http://web.worldbank.org/WBSITE/EXTERNAL/EXTJOBSNEW/0,,contentMDK:23123155~menuPK:8453544~pagePK:8453902~piPK:8453359~theSitePK:8453353,00.html">Programs
													& Internships</a></li>
										</ul>
									</div>
									<!--end of .column-->
									<div class="col-md-15 col-sm-3">
										<h4>For Partners</h4>
										<ul class="mega-menu-sublist">
											<li><a href="http://www.worldbank.org/en/about/partners">Partners</a></li>
											<li><a
												href="https://clientconnection.worldbank.org/servlet/main?menuPK=234032&pagePK=232663&piPK=234033">Clients</a></li>
											<li><a
												href="http://web.worldbank.org/WBSITE/EXTERNAL/PROJECTS/PROCUREMENT/0,,menuPK:51355691~pagePK:84271~piPK:84287~theSitePK:84266,00.html">Procurement
													Rules</a></li>
											<li><a href="#">Calls for Proposals</a></li>
											<li><a
												href="http://www.worldbank.org/en/topic/publicprivatepartnerships">Public-Private
													Partnerships</a></li>
											<li><a href="http://www.worldbank.org/ngos">Civil
													Society</a></li>
										</ul>
									</div>
									<!--end of .column-->
									<div class="col-md-15 col-sm-3">
										<h4>For Investors</h4>
										<ul class="mega-menu-sublist">
											<li><a
												href="http://treasury.worldbank.org/cmd/htm/index.html">World
													Bank Bonds & Investment Products</a></li>
										</ul>
									</div>
									<!--end of .column-->
									<div class="col-md-15 col-sm-3">
										<h4>For Students and Learners</h4>
										<ul class="mega-menu-sublist">
											<li><a href="http://einstitute.worldbank.org/ei/">Open
													Learning Campus</a></li>
											<li><a
												href="http://data.worldbank.org/about/open-data-training-modules">Open
													Data Training Modules</a></li>
										</ul>
									</div>
									<!--end of .column-->
									<div class="col-md-15 col-sm-12">
										<h4>Meet Us</h4>
										<ul class="mega-menu-sublist">
											<li><a href="http://www.worldbank.org/en/events">Events</a></li>
											<li><a href="http://live.worldbank.org/">World Bank
													Live</a></li>
											<li><a
												href="http://www.worldbank.org/en/about/speakers-bureau">Speakers
													Bureau</a></li>
										</ul>
									</div>
									<!--end of .column-->

								</div> <!--end of .row-->
								<hr>
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<ul class="mega-menu-left-column-wrapper">
											<li><a href="http://www.worldbank.org/en/about/contacts"><span
													class="menu-highlight-item">Contacts and Inquiries
														&nbsp;<i class="icon-angle-right"> <span
															class="sr-only">Arrow</span></i>
												</span></a></li>
										</ul>
									</div>
								</div>
							</li>
						</ul></li>
					<!-- end Work With Us -->
					<!-- Begin News -->
					<li class="mega-menu hidden-lg hidden-md"><a
						href="http://www.worldbank.org/en/news" class="dropdown-toggle"
						aria-expanded="true">News <i class="icon-angle-right"><span
								class="sr-only">Arrow</span></i></a></li>
					<!-- end News -->
					<li class="dropdown mega-menu hidden-sm hidden-xs"
						id="mega-menu-global-search"><span class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false"><img class="megamenu_search_icon"
							src="/content/dam/wbrredesign/icons/search-orange.svg"
							title="search-icon" alt="search-icon"></span>
						<ul class="dropdown-menu globa-dropdown-search">
							<span class="close-this-megamenu">X</span>
							<li class="container">
								<div class="mega-menu-right-column padd row">
									<div class=" col-lg-3 col-md-3 col-sm-12 col-xs-2">
										<h2>Search</h2>
									</div>
									<div class=" col-lg-9 col-md-7 col-sm-8 col-xs-12 ">
										<!-- Begin Input Search -->
										<div class="header-search-section">
											<form class="input-group" role="search" name="searchbox"
												action="/en/news/all" onsubmit="javascript:searchSubmit();"
												method="get">
												<input type="text" placeholder="Global-search..."
													class="search-input-field-1" name="qterm" title="search">
												<input class="search-submit-icon" type="image"
													src="/content/dam/wbrredesign/icons/search-orange.svg"
													alt="listingsearch">
											</form>
										</div>
										<!-- End Input Search -->
									</div>
									<!--               <div class=" col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <a href="#" class="btn btn-default btn-lg primary-light-blue-btn">Search</a>
               </div>
       
             -->
								</div>
							</li>
						</ul></li>

				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
</header>